	<!-- ================== start Header ================== -->
    <%- include('../layouts/header.ejs') %>
	<!-- ================== end header ================== -->
	
  <!-- BEGIN #app -->
  <div id="app" class="app">
   
    	<!-- ================== start navbar ================== -->
        <%- include('../layouts/navbar.ejs') %>
        <!-- ================== start navbar ================== -->
        
	<!-- ================== start sidebar ================== -->
    <%- include('../layouts/sidebar.ejs') %>
	<!-- ================== start sidebar ================== -->
	

    <!-- BEGIN mobile-sidebar-backdrop -->
    <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
    <!-- END mobile-sidebar-backdrop -->

    <!-- BEGIN #content -->
    <div id="content" class="app-content">
      <div class="d-lg-flex align-items-end mb-4">
        <h3 class="page-header mb-lg-0">
          Dashboard
          <small class="d-block fs-12px mt-1">Monitor key performance metrics for online store</small>
        </h3>
        <div class="ms-auto">
          <a href="#" class="btn fw-semibold fs-13px btn-secondary me-2" id="daterange-filter"><i class="fa fa-calendar fa-fw me-md-1 opacity-5"></i> <span>27 Jan 2023 - 02 Feb 2023</span> <b class="caret ms-3"></b></a>
          <a href="#" class="btn fw-semibold fs-13px btn-theme"><i class="fa fa-upload fa-fw me-md-1 opacity-5"></i> <span class="d-none d-sm-inline">Export report</span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <!-- BEGIN card -->
          <div class="card bg-size-cover mb-3 border-dark" data-bs-theme="dark" style="background-image: url(assets/img/bg/pattern.jpg);">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Total Clients</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="#" class="dropdown-item">View full report</a>
                    <a href="#" class="dropdown-item">Reload</a>
                    <a href="#" class="dropdown-item">Export Data</a>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-lg-12 position-relative">
                  <h3 class="mb-0"><%= totalClient  %></h3>
                

                </div>
              </div>
              <div class="mt-3 fs-11px">
                <div>last updated on</div>
                <div class="fw-600">Feb 3, 4:09:57 AM UTC</div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Active Clients</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="/activeClients" class="dropdown-item">View full report</a>
                    
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-lg-12 position-relative">
                  <h3 class="mb-0 d-flex">
                    <%= activeClient  %>
                  
                  </h3>

                  
                </div>
              </div>
              <div class="mt-3 fs-11px">
                <div class="text-body text-opacity-50">last updated on</div>
                <div class="fw-600 text-body text-opacity-75">Feb 3, 4:09:57 AM UTC</div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Expired Client</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="/expiredClients" class="dropdown-item">View full report</a>
                   
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-lg-12 position-relative">
                  <h3> <%= expiredClient %></h3>
                  
                </div>
              </div>
              <div class="mt-3 fs-11px">
                <div class="text-body text-opacity-100 h6">Expired Message to client</div>
                <div class="fw-600 text-body text-opacity-75"><%= countSendExpiredMessage %></div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Expired Soon Clients</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="/expiredSoonClients" class="dropdown-item">View full report</a>
                   
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-lg-12 position-relative">
                  <h3> <%= expiredSoonClient %></5> </h3>
                
                </div>
              </div>
              <div class="mt-3 fs-11px">
                <div class="text-body text-opacity-100 h6">Expired Soon Message to client</div>
                <div class="fw-600 text-body text-opacity-75"><%= countSendExpiredSoonMessage %></div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->

        </div>

        
        <div class="col-xl-12">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Total Expired Clients</div>
                   <div class="button" style="float: inline-end;">
                    <a href="/expiredClients" class="btn btn-theme">Details </a>
                   </div>
              </div>
             
             
         
              <div class="table-responsive">
                <table id="orderTable" class="table table-hover text-nowrap">
                  <thead class="text-center">
                    <tr>
                      <th class="border-top-0 pt-0 pb-2">Sr no</th>
                      <th class="border-top-0 pt-0 pb-2">Name</th>
                  
                      <th class="border-top-0 pt-0 pb-2">Number</th>
                      <th class="border-top-0 pt-0 pb-2">Agent</th>
                      <th class="border-top-0 pt-0 pb-2">Plan</th>
                      <th class="border-top-0 pt-0 pb-2">Business name</th>
                      <th class="border-top-0 pt-0 pb-2">Status</th>
                      <th class="border-top-0 pt-0 pb-2">Date</th>
                      <th class="border-top-0 pt-0 pb-2">Expired Soon Message </th>
                      <th class="border-top-0 pt-0 pb-2">Expired Message</th>
                     
    
                    </tr>
                  </thead>
                  <tbody class="text-center">

                    <% let serialNo = 1 %>
                      <% todayExpiredClients.forEach(client => { %> 
                      <tr>
                        <td><%= serialNo %></td>
                        <td><%= client.name %></td>
                      
                        <td><%= client.number %></td>
                        <td><%= client.client_agent %></td>
                        <td><%= client.plan.planName %></td>
                        <td><%= client.business_name %></td>
                        <% if (client.status === "Expired") { %>
                          <td class="py-1 align-middle"><span
                              class="badge text-danger bg-danger bg-opacity-15 px-2 py-6px rounded fs-12px d-inline-flex align-items-center"><i
                                class="fa fa-circle fs-9px fa-fw me-5px"></i>Expired</span></td>
                      
             <% } %>  
             <td><%= client.formattedDate %></td>
             <% if (client.soonExpiredMessage === 1) { %>
              <td class="py-1 align-middle"><span
                class="badge text-success bg-success bg-opacity-15 px-2 py-6px rounded fs-12px d-inline-flex align-items-center"><i
                  class="fa fa-circle fs-9px fa-fw me-5px"></i>Sent</span></td>
             <% }else { %>
              <td class="py-1 align-middle"><span
                class="badge text-danger bg-danger bg-opacity-15 px-2 py-6px rounded fs-12px d-inline-flex align-items-center"><i
                  class="fa fa-circle fs-9px fa-fw me-5px"></i>Not Sent</span></td>
              <% } %>
             <% if (client.expiredMessage === 1) { %>
              <td class="py-1 align-middle"><span
                class="badge text-success bg-success bg-opacity-15 px-2 py-6px rounded fs-12px d-inline-flex align-items-center"><i
                  class="fa fa-circle fs-9px fa-fw me-5px"></i>Sent</span></td>
             <% }else { %>
              <td class="py-1 align-middle"><span
                class="badge text-danger bg-danger bg-opacity-15 px-2 py-6px rounded fs-12px d-inline-flex align-items-center"><i
                  class="fa fa-circle fs-9px fa-fw me-5px"></i>Not Sent</span></td>
              <% } %>


             

             

            </tr>
                        <% serialNo++ %>
                      <% }) %>
    
                </table>
    
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
       
       
      </div>
    </div>
    <!-- END #content -->

    <!-- BEGIN theme-panel -->
    <div class="app-theme-panel">
      <div class="app-theme-panel-container">
        <a href="javascript:;" data-toggle="theme-panel-expand" class="app-theme-toggle-btn"><i class="bi bi-sliders"></i></a>
        <div class="app-theme-panel-content">
          <div class="fw-bold text-body mb-2">
            Theme Color
          </div>
          <div class="app-theme-list">
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-pink" data-theme-class="theme-pink" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Pink"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-red" data-theme-class="theme-red" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Red"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-warning" data-theme-class="theme-warning" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Orange"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-yellow" data-theme-class="theme-yellow" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Yellow"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-lime" data-theme-class="theme-lime" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Lime"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-green" data-theme-class="theme-green" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Green"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-teal" data-theme-class="theme-teal" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Teal"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-info" data-theme-class="theme-info" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Cyan"></a></div>
            <div class="app-theme-list-item active"><a href="javascript:;" class="app-theme-list-link bg-primary" data-theme-class="" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Default"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-purple" data-theme-class="theme-purple" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Purple"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-indigo" data-theme-class="theme-indigo" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Indigo"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-gray-200" data-theme-class="theme-gray-500" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Gray"></a></div>
          </div>
          <hr class="opacity-1">
          <div class="row mt-10px">
            <div class="col-8">
              <div class="fw-bold text-body d-flex mb-1 align-items-center">
                Dark Mode
                <i class="bi bi-moon-fill ms-2 my-n1 fs-5 text-body text-opacity-25"></i>
              </div>
              <div class="lh-sm">
                <small class="text-body opacity-50">Adjust the appearance to reduce glare and give your eyes a break.</small>
              </div>
            </div>
            <div class="col-4 d-flex">
              <div class="form-check form-switch ms-auto mb-0">
                <input type="checkbox" class="form-check-input" name="app-theme-dark-mode" data-toggle="theme-dark-mode" id="appThemeDarkMode" value="1">
                <label class="form-check-label" for="appThemeDarkMode"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END theme-panel -->
    <!-- BEGIN btn-scroll-top -->
    <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
    <!-- END btn-scroll-top -->
  </div>
  <!-- END #app -->

  <!-- ================== Footer ================== -->
  <%- include('../layouts/footer.ejs') %>
  <!-- ================== Footer ================== -->